@* @using RapidAPI_BookingProject.Dtos
@model List<ResultRoomDto>

@{
    ViewData["Title"] = "Odalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Odalarımız</h2>
                    <div class="bt-option">
                        <a href="/Home/Index/">Anasayfa</a>
                        <span>Odalar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">

            @foreach (var room in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">

                        <img src="@room.main_photo_url"
                             alt="@room.name" />

                        <div class="ri-text">
                            <h4>@room.name</h4>

                            <p>
                                @room.description
                            </p>

                            <a asp-controller="Room"
                               asp-action="Detail"
                               asp-route-id="@room.room_id"
                               class="primary-btn">
                                More Details
                            </a>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Rooms Section End -->
 *@